*{
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
}

body{
    margin: 0;
    padding: 0;
}

main{
    flex-grow: 1;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0.00) 1.04%, #F5F5F5 100%)
}

.container{
    height: 100%;
    width: 100%;
    max-width: 1230px;
    margin: 0px auto;
    padding-left: 15 px;
    padding-right: 15 px;
}

header{
    min-height: 124 px;
    display: flex;
    align-items: center;
}

.header-box{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-controls{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:10px;
}
.footer-box{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    flex-wrap: wrap;
}

footer{
    min-height: 156px;
    display: flex;
    align-items: center;
    padding: 60px 0px;
}

.footer-nav{
    flex-grow:1;
    flex-wrap: wrap;

}

.footer-nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap:15px;
}

.footer-nav ul li{
    color:#595959;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-social{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.logo{
    max-width: 100px;
}

.logo img{
    width: 100%;
}

.btn {
    display: flex;
    padding: 8px 16px;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    outline: none;
}

.btn-primary{
    border-radius: 2px;
    background: #1890FF;
    border: 1px solid #1890FF;
    color:#FFF;
}

.btn-outline{
    border-radius: 2px;
    border:1px solid #d9d9d9;
    background: #FFF;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0);
    color:#595959;
}

.page-wrapper{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.banner{
    margin-bottom: 56px;
}

.banner-item{
    background-image: url(./images/banners/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 68px;
    border-radius: 10px;
    background-position: center right;
}

.banner-item--title{
color:#302C34;
font-size: 39px;
font-weight: 700;
max-width: 50%;
margin-top: 0;
margin-bottom: 15px;
}

banner-item--subtitle{
    color:#302C34;
font-size: 24px;
font-weight: 400;
max-width: 50%;
margin: 0;
}

.products{

}

.products-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products-header--title{
    color:#000;
    font-size: 36px;
    font-weight: 700;
}


.products-header--search{
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    background: #FFF;
    min-width: 306px;
    height: 34px;
    flex-shrink: 0;
    padding: 5px 12px;
}

.products-header--search:focus{
    outline: none;
    border: 1px solid #d9d9d9;
}


.products-header--search::placeholder{
    color: #BFBFBF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


@media (max-width:991px) {
    .banner-item--title{
        max-width: 100%;
    }
    .banner-item--subtitle{
        max-width: 100%;
    }
}